.popupBox {
    background-color:rgb(255, 245, 190);
    border: 1px solid rgba(0, 0, 0, 0.384);
    border-radius: 5px;
    min-height: 400px;
    min-width: 400px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 50px;
}

.firstRow {
    display: flex;
    flex-direction: row;
}

.milestoneSetter {
    display: flex;
    flex-direction: row;
}

.milestoneBox{
    background-color: #e2eaf0;
}