.popupBox {
    background-color:rgb(239, 241, 227);
    border: 1px solid rgba(0, 0, 0, 0.384);
    border-radius: 5px;
    min-height: 400px;
    min-width: 400px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 50px;
}

.exit{
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 5px;
}

.exit:hover{
    cursor: pointer;
}

.firstRow {
    display: flex;
    flex-direction: row;
}

.input {
    height:20px;
    width: auto;
    margin-left: 10px;
    margin-top: 10px;
}

.description {
    margin-left: 10px;
    margin-top: 10px;
    width: 316px;
    margin-right: 10px;
    max-width: 573px;
}

.affectedAttributesButton {
    height: 20px;
    width: 170px;
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.affectedAttributesButton:hover{
    cursor:pointer;
    background-color:rgb(220, 223, 208);
}

.text{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 5px;
}

.dropdown{
    height: 20px;
    width: 150px;
    margin-top: 0px;
    margin-left: 10px;
    border: solid black;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: .5px;
    border-bottom-width: .5px;
    border-radius: 5px;
}

.dropdown:hover{
    cursor: pointer;
    background-color:rgb(220, 223, 208);
}

.affectedAttribute{
    height: 20px;
    width: 150px;
    margin-top: 5px;
    margin-left: 20px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

.deleteAffectedAttribute{
    text-align: right;
    width:auto;
}

.deleteAffectedAttribute:hover{
    cursor:pointer;
}

.addMilestone{
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    width:fit-content;
    height:fit-content;
}

.addMilestone:hover{
    cursor: pointer;
}

.deleteMilestone{
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 5px;
    height: fit-content;
    width: fit-content;
}

.deleteMilestone:hover{
    cursor: pointer;
}

.milestoneSetter {
    display: flex;
    flex-direction: row;
}

.submitButton{
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    height: fit-content;
    width: fit-content;
    text-align: center;
}