.input{
    margin-left: 10px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 7px;
    height: fit-content;
    width: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: 'Roboto';
}

.textInput{
    text-align: left;
}

/*.multilineText{

}*/

.button{
    height: fit-content;
    width: fit-content;
    text-align: center;
    margin-left: 10px;

}

.button:hover{
    cursor: pointer;
    background-color:rgba(0, 0, 0, 0.171)
}

.text{
    margin: 0px;
}

.placeholder{
    color:rgb(133, 133, 133)
}
