.input {
    margin-top: 40px;
}

.title {
    font-weight: bold;
    text-align: center;
}

.resultsBox{
    height: auto;
    border-width: 0.5px;
    border-radius: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.resultsBox:hover {
    cursor: pointer;
    background-color: rgb(204, 204, 204);
}